<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Page</title>
</head>
<body>
<h1>Search By Locations</h1>
<div class="search_body">
    <form id="searchForm" role="form" method="post">
        <input type="text" id="location" name="latitude" class="form-control" placeholder="insert latitude"/>
        <input type="text" id="longitude" name="longitude" class="form-control" placeholder="insert longitude"/>
        <input type="text" id="radius" name="radius" class="form-control" placeholder="insert radius"/>
        <button id="search" type="submit" name="searchSubmit">SEARCH</button>

    </form>
</div>
</body>
</html>